<!DOCTYPE html>
<html class="htmlFullHeight">

<head>
  <title><%- title %></title>

  <link rel="shortcut icon" type="image/x-icon" href="/images/bender.ico" />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href='/stylesheets/estilos.css' />

</head>

<body class="startBody">

  <div class="row mt-5">

      <a href="/ia/login" class="btn btn-warning btn-outline-dark botonStart">INGRESAR</a>

  </div>

</body>

</html>