<a href="/ia/misHistorias" style="color: beige; text-decoration: none;"><b> IR A MIS HISTORIAS</b></a>
<br><br><br>

<div class="container">
  <h2><%- tituloForm %></h2>
  <hr>
  <br>
  <div style="background: #e8b047b6; padding: 20px; border-radius: 10%;">
    <span style="font-weight: 500; font-size: 20px; padding: 20px;"><b>¿Qué es la IA?</b></span>
    <p class="text-justify parrafo">Según John McCarthy es "La Ciencia e ingenio de hacer máquinas inteligentes", especialmente programas de cómputo "Aprendizaje interactivo". La Inteligencia Artificial no busca comprender cómo funciona nuestro cerebro sino que imita algunas de sus funciones.</p>
    <span style="font-weight: 500; font-size: 20px; padding: 20px;"><b>¿Qué es "GPT-2 generador de texto con IA"?</b></span>
    <p class="text-justify parrafo">GPT-2, publicado en 2019, se basa en un modelo de lenguaje llamado Transformer, desarrollado por Google, y una de las particularidades de GPT-2 es que ha demostrado ser capaz de realizar traducciones, resúmenes y hasta tiene la capacidad de contestar preguntas sobre el texto, tan solo dándole a entender con el texto que le proporcionamos qué queremos que nos responda.</p>
    <span style="font-weight: 500; font-size: 20px; padding: 20px;"><b>Dedicatoria</b></span>
    <p class="text-justify parrafo">El desarrollo de Videojuego web está dedicado, en primer lugar, a Dios y a todo el grupo de trabajo involucrado, se espera que el desarrollo de este videojuego web ayude a los niños del nivel primario en el área de Comunicación Integral.</p>
    <span style="font-weight: 500; font-size: 20px; padding: 20px;"><b>Creadores</b></span>
      <ul>
        <li class="text-justify parrafo">Espejo, Erick.</li>
        <li class="text-justify parrafo">Haro, Brando.</li>
        <li class="text-justify parrafo">Salas, Audad.</li>
      </ul>
    
    


</div>