<a href="javascript:history.back(-1);" style="color: beige; text-decoration: none;"><b> VOLVER</b></a>
<!-- href="javascript:history.back(-1);" -->
<br><br><br>

<div class="container">
  <h2><%- tituloForm %></h2>
  <hr>
  <br>
  <div style="background: #e8b047b6; padding: 20px; border-radius: 3%;">
    <li class="text-justify parrafo">Botones:
      <ul>
        <li class="parrafo">
          <input type="button" class="btn btn-warning" value="reiniciar"> Te permite generar nuevamente el párrafo actual.
        </li>
        <li class="parrafo">
          <input type="button" class="btn btn-success" value="ingresar"> Te genera un nuevo párrafo.
        </li>
        <li class="parrafo">
          <button class="btn btn-primary" id="menu-toggle">&#9776;</button> Este botón te muestra el menú lateral desplegable.
        </li>
      </ul>
    </li>
  </div>

</div>