<div class="container h-100" style="display: table;">
  <div style="margin-bottom: 2em; margin-top: 5em;">
    <span class="escogerEscenario">Escoge un personaje...</span>
  </div>

  <% for (personaje of personajes) { %>
  <div class="divSeleccion">
    <a href="/ia/eleccionNombre/<%- escenario %>/<%- personaje.nombrePersonaje %>" style="text-decoration: none;" tabindex="0" class="botonSeleccion">
      <div class="numeroSeleccion"><%- personaje.idPersonaje %></div>
    </a>
    <span class="spanSeleccion"><%- personaje.nombrePersonaje %></span>
  </div>
  <% } %>

</div>