<div class="container h-100" style="display: table;">

  <div style="display: flex; margin-bottom: 2em; margin-top: 5em;">

    <div>
      <span class="escogerEscenario">Ponle un nombre a tu personaje...</span>
    </div>
  </div>

  <div class="centrarInputTypeVerticalmente">
    <form action="/ia/generadorIA/<%- nombreEscenario %>/<%- nombrePersonaje %>" method="POST">
      <div class="row ingresoNombre">
        <div class="col-sm-12 col-md-12 mb-5 divSeleccionNombre">
          <input type="hidden" value="<%- obj.idTextoIA %>" id="idTextoIA" name="idTextoIA" />
          <input type="text" placeholder="Nombre" class="ingresoNombre" id="nombreUsuario" name="nombreUsuario">
        </div>
        <div class="col-sm-12 col-md-12 mt-1 divSeleccionNombre">
          <input type="submit" class="btn btn-sm btn-success" value="GENERAR TEXTO">
        </div>
      </div>
    </form>
  </div>
</div>