<div class="container h-100" style="display: table;">
  <div class="centrarDivVerticalmente">
    <div class="row centrarDivHorizontalmente text-center">

      <a href="/ia/eleccionEscenario" class="btn btn-secondary btnWidth">UN SOLO JUGADOR</a>
      <button type="button" class="btn btn-secondary btnWidth" disabled>MULTIJUGADOR</button>
      
      
    </div>
  </div>
</div>