<div class="container h-100" style="display: table;">
    <div style="margin-bottom: 2em; margin-top: 5em;">
        <span class="escogerEscenario">Escoge un escenario...</span>
    </div>

    <% for (escenario of escenarios) { %>
    <div class="divSeleccion">
        <a href="/ia/eleccionPersonaje/<%- escenario.nombreEscenario %>" style="text-decoration: none;" tabindex="0" class="botonSeleccion">
            <div class="numeroSeleccion"><%- escenario.idEscenario %></div>
        </a>
        <span class="spanSeleccion"><%- escenario.nombreEscenario %></span>
    </div>
    <% } %>

</div>