<div class="container h-100" style="display: table;">
  <div class="centrarDivVerticalmente">
    <div class="row centrarDivHorizontalmente text-center">

      <a href="/ia/eleccionModo" class="btn btn-secondary btnWidth">NUEVO JUEGO</a>
      <a href="/ia/logout" class="btn btn-secondary btnWidth">VOLVER AL INICIO</a>
    </div>
  </div>
</div>