<div class="container-md containerTablas">
  <h3>¿Seguro que quiere eliminar el alumno <%- obj.nombreUsuario %>? </h3>
  <br>
  <form action="/panelDeControl/delete/<%- obj.idUsuario %>" method="POST">
      <input type="hidden" value="<%- obj.idUsuario %>" />
      
      <a href="/panelDeControl/list" class="btn btn-danger">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Borrar" />
  </form>
</div>