<!DOCTYPE html>
<html lang="en" class="htmlFullHeight">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>

  <link rel="shortcut icon" type="image/x-icon" href="/images/bender.ico" />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href='/stylesheets/estilos.css' />
</head>

<body class="bodyFullHeight">

  <div class="container h-100" style="display: table;">
    <div class="centrarDivVerticalmente">
      <img src="/images/bender.ico" alt="logoLogin" class="logoLogin">

      <form action="/ia/login" method="POST">
        <div class="row formLogin">
          <% if ( messages.error ) { %>
          <div class="alert alert-danger"><%- messages.error %></div>
          <% } %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text loginPrepend" id="basic-addon1">Usuario</span>
            </div>
            <input type="text" class="form-control" placeholder="Ingresa tu usuario" name="usuario" autofocus>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text loginPrepend" id="basic-addon1">Contraseña</span>
            </div>
            <input type="password" class="form-control" placeholder="Ingresa tu contraseña" name="password"
              aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="row mt-5 btnIng">
          <input type="submit" class="form-control botonIngresar" value="INICIAR SESIÓN" />
        </div>
        <!--
        <p class="mt-5 mb-3 text-muted text-center">© Empresa de Buses - 2020</p>
        -->
      </form>

      <div style="height: 20%;"></div>
    </div>

  </div>

</body>

</html>