<div class="container h-100" style="display: table;">
  <div class="centrarDivVerticalmente">
    <div class="row centrarDivHorizontalmente text-center">

      <span style="font-size: 40px; font-weight: bold; color: #fff;">¡EL JUEGO HA TERMINADO!</span>
      <br><br><br><br>
      <a href="/ia/eleccionModo" class="btn btn-secondary btnWidth">INICIAR UN NUEVO JUEGO</a>
    </div>
  </div>
</div>