
<span class="textoGenerado"><% for (text of texto) {%>
  <span><%- text.parrafo1; %></span>
  <br><br><br>
  <span><%- text.parrafo2; %></span>
<% } %></span>

<span><%- //texto; %></span>

<br>
<br>
<br>

<!--
<span class="textoGenerado">You choose to run, <%- //texto2; %></span>
-->

